<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>TrendingStocksServlet</servlet-name>
        <servlet-class>com.stockshark.stockshark.controllers.TrendingStocksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TrendingStocksServlet</servlet-name>
        <url-pattern>/TrendingStocks</url-pattern>
    </servlet-mapping>

</web-app>